dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
first_prog/first_prog
first_prog/email
hello/hello
.gitignore
hello/testprogram
.lsp/.cache/db.transit.json
.clj-kondo/.cache/v1/lock
db.transit.json